//[app](../../../index.md)/[com.example.teamsync.caratteristiche.autentificazione.data.repository](../index.md)/[RepositoryUtente](index.md)/[sendEmailVerification](send-email-verification.md)

# sendEmailVerification

[androidJvm]\
fun [sendEmailVerification](send-email-verification.md)()

Invia un'email di verifica all'utente attualmente loggato.

#### Throws

| | |
|---|---|
| [Exception](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-exception/index.html) | se l'invio dell'email fallisce. |
